.nav{
    display: flex;
    width:120px;
    height:100%;
    position: fixed;
    flex-direction: column;
    background-color: red;
    padding: 20px 10px;
}
.nav a{
    color:white;
    display: block;
    margin: 50px 0;
    text-decoration:none;
    list-style-type: none;
    font-size: 16px;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
.section1{
    background:linear-gradient(to right bottom, yellow 60%, white 60%);
}
.section2{
    background: linear-gradient(to right bottom,pink 60%,white 60%);
}
.section3{
    background: linear-gradient(to right bottom,blue 60%,white 60%);
}
.section4{
    background: linear-gradient(to right bottom, purple 60%,white 60%);
}
.section5{
    background: linear-gradient(to right bottom,green 60%,white 60%);
}
.sec{
    width:100%;
    height:1000px;
    display: flex;
    justify-content: center;
    font-size: 30px;
}
*{
    margin:0;
    padding:10;
}